<!DOCTYPE html>
<html lang="ro">

<head>
  <meta name="description" content="Sala de fitness si antrenament">
  <meta name="keywords" content="sala, fitness">
	<title>Sala de Fitness</title>
	<%- include("../fragmente/head") %>


</head>

<body>
<%- include("../fragmente/header") %>
<br><br><br><br><br><br><br><br>


<main>
	<p id="watermark"></p>
	<div id="grid-pagina">
	<section id="x1">
		<h2><i class="fas fa-home"></i>Putem oferi o multitudine de servicii, printre care se afla si:</h2>
		<ul>
			<li>aerobic</li>
			<li>yoga</li>
			<li>karate</li>
		</ul>
		<p>Sala de Fitness <b>STRONGMAN</b> a fost fondata in urma cu 8 ani, datorita pasiunii pentru <b>miscarea fizica</b> si dezvoltarea personala atat a <b>instructorilor personali</b>, cat si a practicantilor si ofera in continuare servicii si <b>echipamente</b> de inalta calitate, la un pret avantajos.</p>
		<strong>Programul nostru este NON-STOP, usile va sunt deschise oricand.</strong>
		<p><q>If you really want to do something, you’ll find a way. If you don’t, you’ll find an excuse.</q> – Jim Rohn</p>
	</section>


	<section id="x2">
		<h2 style="text-align:center;">Program</h2>
		<div id="tabel-mic">
		<table id="tab-program">

			<thead>
				<tr>

					<th>Zi</th>
					<th>Aerobic</th>
					<th>Strongman</th>
					<th>Piscina</th>
					<th>Karate</th>
				</tr>
			</thead>

			<tbody>
				<tr>

					<td>Luni</td>
					<td>14-16</td>
					<td>14-16</td>
					<td>16-18</td>
					<td>14-16</td>
				</tr>
				<tr>


				<td>Marti</td>
				<td>16-18</td>
				<td>16-18</td>
				<td>14-16</td>
				<td>14-16</td>
				</tr>

				<tr>

				<td>Miercuri</td>
				<td>16-18</td>
				<td>16-18</td>
				<td>14-16</td>
				<td>14-16</td>
				</tr>

				<tr>

				<td>Joi</td>
				<td>14-18</td>
				<td>14-18</td>
				<td>14-18</td>
				<td>14-16</td>
				</tr>

				<tr>

				<td>Vineri</td>
				<td>12-18</td>
				<td>12-18</td>
				<td>12-16</td>
				<td>14-16</td>
				</tr>

				<tr>

				<td>Sambata</td>
				<td>14-20</td>
				<td>14-20</td>
				<td>14-16</td>
				<td>Inchis</td>
				</tr>

				<tr>

				<td>Duminica</td>
				<td>14-20</td>
				<td>14-20</td>
				<td>14-16</td>
				<td>Inchis</td>
				</tr>
			</tbody>
		</table>
	</div>
	</section>


<section id="x3">
	<p><b>Calendar de Evenimente</b></p>
	<p>Duis molestie leo vel lorem sodales, eget scelerisque sapien aliquam. Morbi erat augue, bibendum ac diam et, auctor fringilla risus. Cras vulputate, eros a bibendum sagittis, nulla arcu vulputate sem, ac interdum est ipsum vel magna. Pellentesque pharetra velit a dui tempus euismod. Vestibulum luctus ultrices eros sit amet laoreet. Nulla porta dignissim tristique. Morbi eget orci placerat, eleifend dolor sollicitudin, volutpat lectus. Ut in luctus ligula. Cras blandit, odio id elementum tincidunt, augue massa rutrum massa, nec condimentum dolor purus nec tellus. Proin auctor odio sapien, ac maximus ipsum imperdiet et. Vivamus accumsan pharetra arcu id tempor.</p>
</section>

<section id="x4">
	<p><b>Anunturi</b></p>
	<p>Ut tristique dui eget eleifend congue. Etiam tempus metus a ligula feugiat, ut pretium nulla hendrerit. Nulla facilisi. Cras vitae magna elit. Phasellus ac finibus nunc, at ullamcorper lectus. Mauris sed tincidunt dui, non gravida magna. Quisque cursus venenatis faucibus. Phasellus vitae diam nisi. Quisque elementum purus nulla, non eleifend est gravida nec. Aliquam quis sem malesuada, iaculis neque quis, ornare leo. In commodo vehicula lacus ac laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscipit justo a lectus aliquam, ut lacinia libero pulvinar. In hac habitasse platea dictumst. Pellentesque gravida venenatis ipsum, eget pellentesque erat accumsan a.</p>
</section>

<section id="x5">
	<p><b>Lista de utilizatori online</b></p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper tortor eu est eleifend rutrum. Mauris sit amet magna et enim pretium iaculis. Fusce tincidunt tincidunt mauris non semper. Integer vulputate, justo id facilisis dapibus, ex purus condimentum nisl, sit amet mattis ligula est id quam. Phasellus a nunc a enim ullamcorper faucibus id eget enim. Cras sit amet turpis lacinia, consectetur leo ut, consequat dui. Fusce dapibus felis in nisl tincidunt ornare. Sed non tortor non mi porttitor porta cursus sit amet metus. Aenean aliquet pellentesque tempor.</p>
</section>

<section id="x6">
	<p><b>Date despre utilizatori si statistici</b></p>
	<p> <%- locals.ip %> </p>
</section>

<section id="x7">
	<p><b>Date despre site si server</b></p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae sodales velit. In faucibus laoreet tellus, sit amet consequat est lacinia eget. Pellentesque aliquam lacinia ligula. Ut volutpat lacus arcu, sed suscipit metus eleifend quis. Nunc et laoreet arcu. Donec at ipsum quam. Morbi varius enim vitae lectus varius tempor. Aenean mollis, magna a tempor lacinia, odio lectus ultrices orci, sit amet sodales nisi magna id purus.</p>
</section>

<section id="x8">
<p><b>Andrenori personali</b></p>
<p>Dorian Popa, Marcel Chelutu, Mircea Sultanul, Darian Zamolxis</p>
</section>

</div>

<hr class="hr1">
<hr class="hr2">




<video controls preload="none" width="320" height="240"  playsinline  loop muted poster="/resurse/video/poster.png" controls>
	<source src="resurse/video/video.mp4" type="video/mp4">
	<source src="resurse/video/video.flv" type="video/flv">
		<track default src="/resurse/video/tracks/captions-flotari.vtt" kind="captions" srclang="ro" label="romana">
		<track src="/resurse/video/tracks/captions-flotari-en.vtt" kind="captions" srclang="en" label="engleza">
</video>




<section id="galerie-statica">
    <h2>Galerie</h2>
    <div id="grid-galerie">
      <% for (let imag of locals.imagini){  %>
      <figure>
        <picture>
          <source srcset="/<%-imag.mic%>" media="(max-width:500px)"/>
          <img src="/<%-imag.mare%>" alt="text"/>
        </picture>
        <figcaption><%-imag.text_descriere%></figcaption>
      </figure>
      <% } %>
    </div>
</section>

<section id="video">
	<div class="stilizare-taburi">
		<a href="https://www.youtube.com/embed/hHLMZwx1aWc" target="ifr-video">Mix Mr #1</a>
		<a href="https://www.youtube.com/embed/2JZY3ZtCUs4" target="ifr-video">Mix Nr #2</a>
	</div>
	<iframe name="ifr-video" width="500" height="300" src="https://www.youtube.com/embed/hHLMZwx1aWc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>





<i class="fas fa-dumbbell fa-spin"></i><a href="https://www.youtube.com/watch?v=3irVy7zN47w" target="blank">Echipamente</a></p><br>

Intrebari frecvente:
<details><summary>Cum se stabilesc planurile de nutritie si antrenamente?</summary>
<p>Planurile de nutritie si antrenament vor fi construite pe baza preferintelor si nevoilor tale.</p>
</details>

<details><summary>Cat dureaza un antrenament si de cate ori trebuie sa ma antrenez pe saptamana?</summary>
<p>Depinde de obiectivele tale si de disponibilitatea ta. Te poti antrena de doua-trei ori pe saptamana iar fiecare antrenament va dura in jur de o ora.</p>
</details>

<details><summary>Cat de repede voi vedea rezultate?</summary>
<p>Corpul fiecarei persoane este diferit si raspunde diferit la un plan de nutritie si fitness. In mod normal, dupa patru saptamani ar trebui sa vezi sa simti primele rezultate.</p>
</details>


</main>

<%- include("../fragmente/footer") %>

<div id="banner"><p>Vine trenulețul.</p></div>
	<a href="#top" title="hai sus frate" id="link-top"><div id="triunghi">&#9650;</div></a>

</body>

</html>